/* .btn-login {
    background-color: rgb(30, 41, 59);
    color: #fff;
    font-size: 14px;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
} */

/* Login Button Styles */
.btn-login {
    background-color: #ffffff; /* Blue background for login */
    color: rgb(0, 0, 0); /* White text color */
    font-size: 18px; /* Larger font size for better readability */
    padding: 12px 22px; /* Added padding for more clickable area */
    border: none; /* Remove default border */
    display: inline-block;
    text-align: center;
    cursor: pointer; /* Make it clickable */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
    width: 100%; /* Make the button full-width, like the input fields */
    height: 80%;
    box-sizing: border-box; /* Ensures padding doesn't overflow button size */
}

/* Hover Effect */
.btn-login:hover {
    background-color: #000000; /* Darker blue when hovered */
    color: rgb(255, 255, 255);
    transform: translateY(-2px); /* Slight upward movement */
}

/* Focus Effect */
.btn-login:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Add glow effect on focus */
}

/* Disabled State */
.btn-login:disabled {
    background-color: #bdc3c7; /* Gray background for disabled state */
    color: #7f8c8d; /* Lighter text color */
    cursor: not-allowed; /* Make it look unclickable */
}


.close-button {
    float: right !important;
    top: -34px !important;
    right: -24px !important;
    width: 24px !important;
    height: 24px !important;
    background-color: none !important;
    appearance: none !important;
}

.btn-config {
    background-color: #4576c0;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
}

.btn-cancel {
    color: rgb(31 41 55);
    /* background-color: #c2bcbc; */
    color: #000;
    background-color: rgb(243 244 246);
    border-color: rgb(156 163 175);
    margin-right: 8px !important;
    line-height: 30px !important;
    font-size: 13px;
}

.btn-signup {
    background-color: #4576c0;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
}

.cs-icon {
    margin-bottom: 2px;
}

.add-more {
    background: #1056adb5;
}

.class-button {
    border: none;
    background: none;
    font-size: 29px;
    margin-top: -21px;
    margin-left: 20px;
}

.header-detail {
    font-weight: 500;
    margin-bottom: 0;
}

.render_tooltip {
    font-size: 14px;
    background: #ffffff !important;
    color: black !important;
    min-width: 1px !important;
    border: 0.1em solid #1056ad !important;
}

.test-button {
    background: #a9a9a9d6;
    color: #000;
    font-size: 14px;
    display: inline-block;
    height: 100%;
    margin-right: 10px;
}

.auto-refresh {
    height: 30px;
    border-radius: 4px;
    padding: 0 0 0 11px;
}