<button mat-button type="submit" *ngIf="buttonType === 'submit'" class="btn-login" (click)="onBtnClick()"> {{
    buttonName
    }} </button>

<button mat-button type="button" *ngIf="buttonType === 'cancel'" class="btn-cancel" (click)="onBtnClick()"> {{
    buttonName
    }} </button>

<button mat-icon-button type="button" *ngIf="buttonType === 'close'" class="close-button" (click)="onBtnClick()"
    [mat-dialog-close]="true"> <mat-icon class="close-icon" color="war">close</mat-icon> </button>

<button type="button outline-none" class="close class-button" data-dismiss="modal" aria-label="Close"
    *ngIf="buttonType === 'cross_close'" (click)="onBtnClick()">
    <span aria-hidden="true" matTooltip="Close" matTooltipPosition="right">&times;</span>
</button>

<button mat-button type="submit" *ngIf="buttonType === 'addForm'" class="syrn-button-class" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('ADD')}}" [matTooltipClass]="'render_tooltip'"> New {{ buttonName
    }} </button>

<button mat-button type="button" *ngIf="buttonType === 'filter' || buttonType ==='highlight-filter'"
    [ngClass]="getButtonClass()" (click)="onBtnClick()" matTooltip="{{ getToolTipMessageForActionButtons('FILTER')}}"
    [matTooltipClass]="'render_tooltip'">
    {{ buttonName }} </button>

<button mat-button type="button" *ngIf="buttonType === 'addNew'" class="syrn-button-class" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('ADD_COLUMN')}}" [matTooltipClass]="'render_tooltip'"> {{
    buttonName
    }} </button>

<button mat-button type="button" *ngIf="buttonType === 'ack'" class="syrn-button-class" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('ACK')}}" [matTooltipClass]="'render_tooltip'"> {{ buttonName
    }} </button>

<button mat-button type="button" *ngIf="buttonType === 'test'" class="test-button" (click)="onBtnClick()"> {{ buttonName
    }} </button>

<button mat-button type="button" *ngIf="buttonType === 'refresh'" class="syrn-button-class" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('REFRESH')}}" [matTooltipClass]="'render_tooltip'"><i
        class="fa fa-refresh"></i> {{ buttonName
    }} </button>
<button mat-button type="button" *ngIf="buttonType === 'view'" class="syrn-button-class" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('VIEW_STATS')}}" [matTooltipClass]="'render_tooltip'"><i
        class="fa fa-chart-line"></i> {{ buttonName
    }} </button>

<button mat-button type="button" *ngIf="buttonType === 'menu' && metaOptions && metaOptions.length > 0"
    class="syrn-button-class" [matMenuTriggerFor]="menu" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('REMOVED_COLUMN')}}" [matTooltipClass]="'render_tooltip'"> {{
    buttonName
    }} </button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let option of metaOptions; let i = index"
        (click)="onMenuOptionBtnClick(option['name'], i)"> {{ option['value'] }}</button>
</mat-menu>


<button mat-button type="button" *ngIf="buttonType === 'date_time'" class="syrn-button-class" (click)="onBtnClick()"
    matTooltip="{{ getToolTipMessageForActionButtons('ABSOLUTE_TIME_RANGE_FILTER')}}"
    [matTooltipClass]="'render_tooltip'"> {{ buttonName
    }} &nbsp;<i class="fas fa-search filter-icon"></i>&nbsp;</button>