<div class="main">


  <div class="card-container">
    <button class="card button-1">
      <h3>Website Availability</h3>
      <p>Is the website accessible and functioning properly?</p>
    </button>
    <button class="card button-2">
      <h3>Website Speed</h3>
      <p>How quickly a browser is able to load fully functional webpages?</p>
    </button>
    <button class="card button-3">
      <h3>Networks Elements</h3>
      <p>Are device serve other entities functioning as intended?</p>
    </button>
    <button class="card button-4">
      <h3>Web Content Spelling</h3>
      <p>Is the content on the site spelt correctly?</p>
    </button>
    <button class="card button-5">
      <h3>Partner Integration</h3>
      <p>Can we establish a seamless and effective collaboration between partners?</p>
    </button>
  </div>

</div>
