<div id="portfolio" class="main-container">
  <div class="heading">
    <p>Hi, <br>I'm Deepak Gautam, <br> a <span id="dynamic-text">{{dynamicText}}<span class="blinking"
						style="font-weight: 400; color:white" >|</span></span></p>
  </div>

  <div class="image-container">
    <div class="image">
      <img src="assets/images/deepak.jpeg" alt="Deepak Gautam">
      <div class="heart-bubbles"></div>
    </div>
  </div>
</div>

<div id="about">
  <app-about></app-about>
</div>

<app-experience></app-experience>

<div id="skills">
  <app-skills></app-skills>
</div>

<div id="project">
<app-projects></app-projects>
</div>





