<footer class="footer">
  <div class="footer-right">
    <a href="https://www.facebook.com/people/Deepak-Gautam/pfbid025vxVrLk8trgp1wpoXGsFgJFN7775cq6SjyyNtNuD9ei1ss1AGjaU1hBfsEnmFJE7l/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/in/deepak-gautam-63a270177/" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.instagram.com/siddhant_deepak?igsh=cmJhaWgydzI2bmNt&utm_source=qr" class="social-icon"><i class="fab fa-instagram"></i></a>
  </div>


</footer>

