<div class="about-container">
  <div class="left-blocks">
  <h2>About Me</h2>
  <p>
    I'm a passionate and versatile Full Stack Developer with a strong foundation in both frontend and backend technologies. I graduated in 2024 from Maharaja Surajmal Institute of Technology and currently work as a Software Developer at Exsete Pvt. Ltd., where I built a custom monitoring tool from the ground up.
  </p>
  <p>
    My technical toolkit includes TypeScript, AngularJS, Java, Node.js, JavaScript, Docker, Elasticsearch, Kibana, Logstash, MongoDB, Puppeteer, Nmap, and C++. I’ve also worked with tools like SuiteCRM, gaining exposure to CRM integration and customization.
  </p>
  <p>
    Having worked in a startup environment, I’ve gained hands-on experience with system design and always strive to write clean, maintainable, and optimized code. I thrive on learning new technologies and solving real-world problems through efficient software solutions.
  </p>
  <button class="btn" (click)="openResume()">Check My Resume</button>
  </div>

    <div class="right-blocks">
      
<div class="block1" #leetcodeBlock>
  <a target="_blank" href="https://leetcode.com/u/siddhant_deepak/">
    <h3>Leetcode</h3>
  <p>{{ leetcodeCount }}+</p>
  </a>
</div>

<div class="block2" #hackerblocksBlock>
  <a target="_blank" href="https://hack.codingblocks.com/app/users/360686"><h3>Hackerblocks</h3>
  <p>{{ hackerblocksCount }}+</p></a>
</div>

  </div>

</div>

