/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  background-image: none !important; /* Explicitly remove any background image */
  /* background-color: #000000 !important;  */
  /* background-color: #0f172a !important; */
  /* background: linear-gradient(90deg, #a200ff, #fa9701)!important; */
  background: linear-gradient(90deg, #0f172a, #4c0ba0) !important;

  background-size: cover; /* Adjust to cover the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  height: 100vh; /* Full viewport height */
  height: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica','Roboto', sans-serif;
}
