/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  background-image: none !important; /* Explicitly remove any background image */
  /* background-color: #000000 !important;  */
  /* background-color: #0f172a !important; */
  /* background: linear-gradient(90deg, #a200ff, #fa9701)!important; */
  background: linear-gradient(120deg, #0f172a, #4c0ba0) !important;

  background-size: cover; /* Adjust to cover the whole container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  height: 100vh; /* Full viewport height */
  height: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica','Roboto', sans-serif;
}
.normal-text {
  font-family: 'Poppins', sans-serif;
}
.semibold-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* SemiBold */
}
.helvetica-text {
  font-family: 'Helvetica', Arial;
}

/* Full height container for the entire page */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%; 
  min-height: 100vh; /* Ensure the height is at least the viewport height */
}

/* Main content area, scrollable if needed */
.main-content {
  flex: 1; /* This makes the content area expand to take available space */
  overflow-y: auto; /* Enables scrolling within the content if it overflows */
  display: flex;
  flex-direction: column;
}

/* Content padding for main content */
.content-padding {
  padding: 30px 30px 30px 30px;
}

/* Footer always stays at the bottom */
app-footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
  margin-top: auto; /* Push footer to the bottom */
  height: auto; /* Adjust height as needed */
  width: 100%;
}

app-header, app-footer {
  width: 100%;
  position: relative;
}

.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}

mat-form-field {
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}

mat-card {
  font-family: 'Roboto', sans-serif !important;
  cursor: pointer;
}

.mat-step-icon {
  background-color: #1056ad !important;
}

mat-label {
  color: #000 !important;
  font-family: 'Roboto', sans-serif !important;
}

.mat-form-field-label-wrapper label.mat-form-field-label {
  color: #000 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1056ad !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #1056ad;
}

/* 
.mat-horizontal-stepper-header {
  pointer-events: none !important;
} */
/* 
.mat-horizontal-stepper-header-container .mat-horizontal-stepper-header {
  display: flex;
  height: 25px !important;
  overflow: hidden;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 15px;
} */

/* mat-horizontal-stepper {
  background-color: transparent !important;
} */

.render_tooltip {
  font-size: 14px;
  background: #ffffff !important;
  color: black !important;
  min-width: 1px !important;
  border: 0.1em solid #1056ad !important;
}

* {
  font-family: "Montserrat", sans-serif;
}

.syrn-color {
  color: #5e5c5c;
  /* color: #033C73; */
}

.text-bold {
  font-weight: bold;
}

.color-blue {
  color: blue;
}

.align-text-right {
  text-align: right;
}

.align-text-center {
  text-align: center;
}

.align-text-left {
  text-align: left;
}

.panel {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.panel-heading {
  padding: 5px 10px;
}

.panel-body {
  padding: 5px 10px;
}

.float-right {
  float: right;
}

.color-red {
  color: red;
}

.display-flex {
  display: flex;
}

.list-style-type-none {
  list-style-type: none;
}

.white-space-nowrap {
  white-space: nowrap;
}

fieldset.dashboard_details {
  background: #ffffff;
  border: 1px solid #aca7a7;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  padding: 15px 10px;
  position: relative;
  font-size: small;
}

fieldset.dashboard_details legend {
  background: inherit;
  color: #1056ad;
  font-size: 15px;
  left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -12px;
  font-weight: 400;
  width: auto !important;
  border: none !important;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

body.swal2-shown.swal2-height-auto {
  height: -webkit-fill-available !important;
}

.syrn-button-class {
  background: #5e5c5c linear-gradient(180deg, #505052, #5e5c5c) repeat-x !important;
  border-color: #5e5c5c;
  color: #fff;
  margin-right: 8px !important;
  line-height: 30px !important;
  font-size: 13px;
}

.highlight-filter-button {
  background-color: #106ec6;
  color: #fff; 
  margin-right: 8px !important;
  line-height: 30px !important;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.series-button-class {
  background: #5e5c5c linear-gradient(180deg, #9ea6ad, #5e5c5c) repeat-x !important;
  border-color: #5e5c5c;
  color: #fff;
  font-size: 12px !important;
  padding: 0 6px !important;
  line-height: 26px !important;
  margin-right: 6px !important;
}

.swal2-styled.swal2-confirm {
  background: #1056ad;
  border-color: #1056ad;
  color: #fff;
}

.swal2-styled.swal2-confirm:active {
  background: #1056ad;
  border-color: #1056ad;
  color: #fff;
}

.swal2-styled.swal2-confirm:hover {
  background: #1056ad;
  border-color: #1056ad;
  color: #fff;
}

.swal2-title {
  font-size: 20px !important;
}

div:where(.swal2-container) .swal2-html-container {
  font-size: 18px !important;
}

.company-background-class {
  background: #033C73 linear-gradient(180deg, #295988, #033C73) repeat-x !important;
  border-color: #033C73;
  color: #fff;
}

.custom-modalbox {
  .mat-dialog-container {
    padding: 0px !important;
  }
}

.select {
  /* for Firefox */
  -moz-appearance: auto !important;
  /* for Chrome */
  -webkit-appearance: auto !important;
}

.select-class {
  -webkit-appearance: auto !important;
  height: 33px !important;
}

.form-check-input {
  border: var(--bs-border-width) solid #999c9f !important;
}

/* ngx-intl-tel-input: CSS Changes  */
.iti {
	display: block !important;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: #c7cace;
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 300px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

ngx-intl-tel-input input {
	height: 43px;
  width: 325px;
	border-style: solid;
	border-width: 1px;
	border-color: #c7cace;
	border-radius: 4px;
	font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  color: #721c24;
  background-color: #f8d7da ;
  border-color: #dc2d2d;
}

ngx-intl-tel-input input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}
.example .d2h-file-header {
  display: none !important;
}

.example .diff2html-container {
  flex-grow: 1 !important;
  overflow: auto !important;
}

.example .d2h-info {
  background-color: #fff !important;
}

.example .d2h-info .d2h-code-side-line {
  display: none !important;
  /* visibility: hidden; */
}

.cursor-pointer {
  cursor: pointer;
}
